In [1]:
import turicreate

ModuleNotFoundError: No module named 'turicreate'

In [11]:
sf = turicreate.SFrame('people-example.csv')

Finished parsing file /home/trinneh/venv/projects/people-example.csv

Parsing completed. Parsed 7 lines in 0.035262 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/trinneh/venv/projects/people-example.csv

Parsing completed. Parsed 7 lines in 0.034937 secs.

In [12]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [17]:
sf.explore('age')

In [5]:
sf = turicreate.SFrame('people_wiki.sframe')
sf.sort('text', ascending=True)

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |     108 (artist)    |
| <http://dbpedia.org/resour... |        1.8.7        |
| <http://dbpedia.org/resour... | Diane Carlson Evans |
| <http://dbpedia.org/resour... |    Robert Godley    |
| <http://dbpedia.org/resour... |     Lisa Mullins    |
| <http://dbpedia.org/resour... |   Martijn Meeuwis   |
| <http://dbpedia.org/resour... |    8 Ball Aitken    |
| <http://dbpedia.org/resour... |  8th Arjia Rinpoche |
| <http://dbpedia.org/resour... |      Jim Gould      |
| <http://dbpedia.org/resour... |   David L. Holmes   |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| 108 born 1978 is an italia... |
| 187 is a pseudonym for jor... |
| 1lt diane carlson evans an... |
| 1robert godley b 7 july 19... |
| 2012 gracie award winner l... |
| 250px250pxmartijn meeuwis ... |
| 8 ball aitken born 8 june ... |
| 8th agya hotogtu lobsang t... |
| a canadian foreign affairs... |
| a church historian david l... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.